In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays WHERE song_id <> 'None'

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(5537, datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 32, 'free', None, None, 456, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (5, datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 75, 'free', None, None, 284, 'Columbia, SC', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"')]

In [5]:
%sql SELECT * FROM songs LIMIT 5

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', 0, 218.77506)]

In [5]:
%sql SELECT * FROM users;

 * postgresql://student:***@127.0.0.1/sparkifydb
96 rows affected.

[(75, 'Joseph', 'Gutierrez', 'M', 'free'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (90, 'Andrea', 'Butler', 'F', 'free'),
 (92, 'Ryann', 'Smith', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (98, 'Jordyn', 'Powell', 'F', 'free'),
 (94, 'Noah', 'Chavez', 'M', 'free'),
 (56, 'Cienna', 'Freeman', 'F', 'free'),
 (40, 'Tucker', 'Garrison', 'M', 'free'),
 (60, 'Devin', 'Larson', 'M', 'free'),
 (17, 'Makinley', 'Jones', 'F', 'free'),
 (96, 'Cierra', 'Finley', 'F', 'free'),
 (14, 'Theodore', 'Harris', 'M', 'free'),
 (53, 'Celeste', 'Williams', 'F', 'free'),
 (99, 'Ann', 'Banks', 'F', 'free'),
 (43, 'Jahiem', 'Miles', 'M', 'free'),
 (28, 'Brantley', 'West', 'M', 'free'),
 (74, 'Braden', 'Parker', 'M', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (79, 'James', 'Martin', 'M', 'free'),
 (51, 'Maia', 'Burke', 'F', 'free'),
 (78, 'Chloe', 'Roth', 'F', 'free'),
 (95, 'Sara', 'Johnson', 'F', 'paid'),
 (33, 'Bronson', 'Harris', 'M', 'free'),
 (37, 'Jordan', 'Hicks', 'F', 'free'),
 (58, 'Emily', 'Benson', 'F', 'paid'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (73, 'Jacob', 'Klein', 'M', 'paid'),
 (86, 'Aiden', 'Hess', 'M', 'free'),
 (59, 'Lily', 'Cooper', 'F', 'free'),
 (83, 'Stefany', 'White', 'F', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free'),
 (77, 'Magdalene', 'Herman', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (47, 'Kimber', 'Norris', 'F', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free'),
 (36, 'Matthew', 'Jones', 'M', 'paid'),
 (48, 'Marina', 'Sutton', 'F', 'free'),
 (20, 'Aiden', 'Ramirez', 'M', 'paid'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (81, 'Sienna', 'Colon', 'F', 'free'),
 (67, 'Colm', 'Santana', 'M', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (34, 'Evelin', 'Ayala', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free'),
 (100, 'Adler', 'Barrera', 'M', 'free'),
 (89, 'Kynnedi', 'Sanchez', 'F', 'free'),
 (25, 'Jayden', 'Graves', 'M', 'paid'),
 (62, 'Connar', 'Moreno', 'M', 'free'),
 (63, 'Ayla', 'Johnson', 'F', 'free'),
 (61, 'Samuel', 'Gonzalez', 'M', 'free'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (101, 'Jayden', 'Fox', 'M', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (57, 'Katherine', 'Gay', 'F', 'free'),
 (72, 'Hayden', 'Brock', 'F', 'paid'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (42, 'Harper', 'Barrett', 'M', 'paid'),
 (71, 'Ayleen', 'Wise', 'F', 'free'),
 (27, 'Carlos', 'Carter', 'M', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free'),
 (88, 'Mohammad', 'Rodriguez', 'M', 'paid'),
 (76, 'Jayden', 'Duffy', 'F', 'free'),
 (70, 'Jaleah', 'Hayes', 'F', 'paid'),
 (91, 'Jayden', 'Bell', 'M', 'free'),
 (52, 'Theodore', 'Smith', 'M', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (29, 'Jacqueline', 'Lynch', 'F', 'paid'),
 (49, 'Chloe', 'Cuevas', 'F', 'paid'),
 (23, 'Morris', 'Gilmore', 'M', 'free'),
 (18, 'Jacob', 'Rogers', 'M', 'free'),
 (82, 'Avery', 'Martinez', 'F', 'paid'),
 (64, 'Hannah', 'Calhoun', 'F', 'free'),
 (13, 'Ava', 'Robinson', 'F', 'free'),
 (84, 'Shakira', 'Hunt', 'F', 'free'),
 (39, 'Walter', 'Frye', 'M', 'free'),
 (38, 'Gianna', 'Jones', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'paid'),
 (30, 'Avery', 'Watkins', 'F', 'paid'),
 (16, 'Rylan', 'George', 'M', 'free'),
 (55, 'Martin', 'Johnson', 'M', 'free'),
 (85, 'Kinsley', 'Young', 'F', 'paid'),
 (22, 'Sean', 'Wilson', 'F', 'free'),
 (68, 'Jordan', 'Rodriguez', 'F', 'free'),
 (45, 'Dominick', 'Norris', 'M', 'free'),
 (41, 'Brayden', 'Clark', 'M', 'free'),
 (35, 'Molly', 'Taylor', 'F', 'free'),
 (19, 'Zachary', 'Thomas', 'M', 'free'),
 (65, 'Amiya', 'Davidson', 'F', 'paid'),
 (97, 'Kate', 'Harrell', 'F', 'paid'),
 (24, 'Layla', 'Griffin', 'F', 'paid'),
 (87, 'Dustin', 'Lee', 'M', 'free')]

In [8]:
%sql SELECT * FROM artists;

 * postgresql://student:***@127.0.0.1/sparkifydb
69 rows affected.

[('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', 'NaN', 'NaN'),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', 'NaN', 'NaN'),
 ('ARXR32B1187FB57099', 'Gob', '', 'NaN', 'NaN'),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', 'NaN', 'NaN'),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', '35.21962', '-80.01955'),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', '35.14968', '-90.04892'),
 ('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', 'NaN', 'NaN'),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', 'NaN', 'NaN'),
 ('ARNTLGG11E2835DDB9', 'Clp', '', 'NaN', 'NaN'),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', 'NaN', 'NaN'),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', 'NaN', 'NaN'),
 ('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', '40.73197', '-74.17418'),
 ('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', '41.88415', '-87.63241'),
 ('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', '30.08615', '-94.10158'),
 ('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', '37.83721', '-94.35868'),
 ('AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', 'NaN', 'NaN'),
 ('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', '40.82624', '-74.47995'),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', '40.7038', '-73.83168'),
 ('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', 'NaN', 'NaN'),
 ('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', '32.67828', '-83.22295'),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', 'NaN', 'NaN'),
 ('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', '49.80388', '15.47491'),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', '27.94017', '-82.32547'),
 ('AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', '40.79195', '-73.94512'),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', 'NaN', 'NaN'),
 ('ARNPAGP1241B9C7FD4', 'lextrical', '', 'NaN', 'NaN'),
 ('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', '34.31109', '-94.02978'),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', '37.16793', '-95.84502'),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', 'NaN', 'NaN'),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', 'NaN', 'NaN'),
 ('ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', '38.8991', '-77.029'),
 ('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', 'NaN', 'NaN'),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', '43.64856', '-79.38533'),
 ('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', 'NaN', 'NaN'),
 ('ARYKCQI1187FB3B18F', 'Tesla', '', 'NaN', 'NaN'),
 ('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', '37.77916', '-122.42005'),
 ('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', 'NaN', 'NaN'),
 ('ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', '40.99471', '-77.60454'),
 ('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', '28.53823', '-81.37739'),
 ('AREDBBQ1187B98AFF5', 'Eddie Calvert', '', 'NaN', 'NaN'),
 ('ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', '40.71455', '-74.00712'),
 ('ARKULSX1187FB45F84', 'Trafik', 'Utah', '39.49974', '-111.54732'),
 ('AROGWRA122988FEE45', 'Christos Dantis', '', 'NaN', 'NaN'),
 ('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', '51.50632', '-0.12714'),
 ('AR7ZKHQ1187B98DD73', 'Glad', '', 'NaN', 'NaN'),
 ('ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', '32.74863', '-97.32925'),
 ('ARULZCI1241B9C8611', 'Luna Orbit Project', '', 'NaN', 'NaN'),
 ('ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', '41.88415', '-87.63241'),
 ('ARJIE2Y1187B994AB7', 'Line Renaud', '', 'NaN', 'NaN'),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', '8.4177', '-80.11278'),
 ('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', 'NaN', 'NaN'),
 ('AR8IEZO1187B99055E', 'Marc Shaiman', '', 'NaN', 'NaN'),
 ('ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', 'NaN', 'NaN'),
 ('AR051KA1187B98B2FF', 'Wilks', '', 'NaN', 'NaN'),
 ('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', '-13.442', '-41.9952'),
 ('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', '40.79086', '-73.96644'),
 ('AR558FS1187FB45658', '40 Grit', '', 'NaN', 'NaN'),
 ('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', '56.27609', '9.51695'),
 ('AR7SMBG1187B9B9066', 'Los Manolos', '', 'NaN', 'NaN'),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', 'NaN', 'NaN'),
 ('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', '37.77916', '-122.42005'),
 ('AREDL271187FB40F44', 'Soul Mekanik', '', 'NaN', 'NaN'),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', 'NaN', 'NaN'),
 ('ARGSAFR1269FB35070', 'Blingtones', '', 'NaN', 'NaN'),
 ('ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', 'NaN', 'NaN'),
 ('AR62SOJ1187FB47BB5', 'Chase & Status', '', 'NaN', 'NaN'),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', 'NaN', 'NaN'),
 ('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', '45.80726', '15.967600000000001'),
 ('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', '36.16778', '-86.77836')]

In [6]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 4, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 4, 11, 45, 11, 2018, 6)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).